/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* main style */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
}
img{
    max-width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #ffffff;
    max-width: 870px;
    width: 100%;
    border-radius: 5px;
    margin-top: 21px;
    padding: 30px 30px 42px 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* header style  */
header
{
    background-color: #562EFF;
} .wrapper .container{
    background-color: #562EFF;
    margin: 0 auto;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
}
.menu ul{
     display: flex;
     align-items: center;

}
.menu ul li{
    list-style: none;
    margin-left: 15px;
}
.menu ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
}
.logo{
    width: 40px;
    height: 51px;
}
/* banner  style top-players and top blogs */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    line-height: 36px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top-blogs design  */
.blogs{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
    flex-direction: column;
}
.blog .thumbnail img{
    width: 224px;
    height: 127px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}

/* style of curses */
.curses{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 24px;
}
.curse .curse-banner img{
    width: 266px;
    height: 141px;
}
.curse-title{
    font-size: 20px;
}
.curse-autor{
    font-size: 15px;
    color: #ED6B4F;
}
.curse-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.ratings{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.curse-info span{
    color: #A2A2A2;
}
.curse-duration{
    border-radius: 25px;
    padding: 4px 15px;
    background-color: #FFE4E8;
}
.curse-duration {
    color: #FF4A60;
}
/* responsive */

/* mobile devices */
@media (min-width:668px) {
    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 26px;
    }
    .blog{
        display: flex;
    }
    .curses{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 24px;
    }
}
@media (min-width:768px) {
    .players{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 30px;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 26px;
    }
    .blog{
        display: flex;
    }
    .curses{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 24px;
    }
}